.env
.env.*
!.env.example

secrets/
data/

airflow/logs/
airflow/**/__pycache__/

dbt/**/target/
dbt/**/dbt_packages/
dbt/**/logs/
dbt/**/.user.yml

outputs/tmp/
notebooks/.ipynb_checkpoints/

__pycache__/
*.py[cod]
*.pyc
*.log
.DS_Store
.venv/
venv/
